 <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" ng-click="addFavorite()">
              Add To Favourites
            </a>
            <a class="item" ng-click="addComments()">
              Add Comments
            </a>
          </div>
        </ion-content>
      </ion-popover-view>